/*
Name: Mitch Watson
Date Created: 12/26/2019
Most Recent Revision:
*/

{/* Form styling */

		body {
		background-color: lightblue;
		color: darkblue;
		}
		
		header, footer {
			background-color: Maroon;
			color: white;
			text-align: center;
			padding: 30px;
		}
		
		nav {
		margin-top: 4px;
		border-top: 3px dashed blue;
		border-bottom: 3px dashed blue;
		}
