/*
Name: Mitch Watson
Date Created: 12/26/2019
Most Recent Revision:
*/
		
		body{
		background-color: lightblue;
		}
		header, footer {
		background-color: blue;
		color: white;
		}
		.border {
		border: ;
		}

		